<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Crear formulario</h4>
    </div>
    <div class="modal-body">
      <div id="fb-editor" class="build-wrap"></div>
      <form class="fb-rendered-form" class="render-wrap"></form>
    </div>
    <div class="modal-footer">
      <button type="button" class="accept-modal btn btn-default" data-dismiss="modal">Aceptar</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
  </div>
  </div>
</div>
