{% extends 'index.html' %}
{% block content %}
<div>
	{% for minesweep in list %}
		{% include 'minesweep.html' with minesweep=minesweep only %}
	{% endfor %}
</div>
{% endblock %}
{% block extraJS %}
<script language="JavaScript">
$(document).ready(function () {
    $('.delete-button').click(function(event) {
        event.preventDefault();
        var opt = confirm("Seguro que quiere eliminar el minesweep seleccionado?");
        if (opt){
            location.href = $(this).attr('href');
        }
    });
});

</script>


{% endblock %}