{% load static bootstrap3 %}

<!-- Minesweep modal -->
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalMinesweep">Crear Minesweep</h4>
        </div>
        <div class="modal-body">
            {% if success %}
            <p>El minesweep se ha creado con exito.</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                Cerrar.
            </button>
            {% else %}
            <form id="minesweep-create-form" method="POST" class="post-form" novalidate>

                <div class="row">
                    <div class="col-lg-6">
                        {% bootstrap_field minesweepForm.content %}
                        {% bootstrap_field minesweepForm.content_color %}
                        {% bootstrap_field minesweepForm.content_style %}
                        {% bootstrap_field minesweepForm.tooltip %}
                        {% bootstrap_field minesweepForm.tooltip_side %}
                        {% bootstrap_field minesweepForm.tooltip_style %}
                    </div>
                    <div class="col-lg-6">
                        {% bootstrap_field minesweepForm.width %}
                        {% bootstrap_field minesweepForm.height %}
                        {% bootstrap_field minesweepForm.border_style %}
                        {% bootstrap_field minesweepForm.border_color %}
                        {% bootstrap_field minesweepForm.border_radius %}
                        {% bootstrap_field minesweepForm.style %}
                    </div>
                </div>
                <button type="submit" class="save btn btn-default" id="minesweep-create-submit">Crear</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
<!-- End minesweep modal -->