<hr>
<div class="row">
    <div class="col-lg-1 accordion-options">
        <a href="{% url 'accordion:accordion-delete' accordion_id=accordion.get_uuid_as_str %}" class="accordion-option red-hover delete-button">
            <div><i class="fa fa-trash-o" aria-hidden="true"></i></div>
        </a>
    </div>   
    <div class="col-lg-11">
        <!-- Print parent panel -->
        <div class="panel-group" id="accordion-{{accordion.get_uuid_as_str}}">
            <style type="text/css">
                .parent_{{accordion.get_uuid_as_str}} {
                    {{ accordion.title_style }};
                }
            </style>
            <div id="parent_{{accordion.get_uuid_as_str}}" class="panel panel-default" style='width: {{accordion.width}}%;{{accordion.style}}'>
                <a data-toggle="collapse" data-parent="#accordion-{{accordion.get_uuid_as_str}}" href="#{{accordion.get_uuid_as_str}}">
                    <div class="panel-heading" role="tab" id="head-{{accordion.get_uuid_as_str}}" style="min-height: {{ accordion.height }}px">
                            <h4 class="panel-title " style="display: inline-block; {{ accordion.title_style }};">
                                {{ accordion.title|safe | default:"Link collapsable" }}
                            </h4>
                    </div>
                </a>
                <div class="panel-options">
                    <a href="{% url 'accordion:accordion-delete' accordion_id=accordion.get_uuid_as_str %}" class="red-hover delete-panel-button pull-right delete-button">
                        <div><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                    </a>
                    <a href="{% url 'accordion:accordion-edit' accordion_id=accordion.get_uuid_as_str %}" class="blue-hover edit-panel-button pull-right">
                        <div><i class="fa fa-pencil" aria-hidden="true"></i></div>
                    </a>
                </div>
                <div id="{{accordion.get_uuid_as_str}}" class="panel-collapse collapse" style="{{ accordion.content_style }}">
                    <div class="panel-body">
                        <p> {{ accordion.content|safe | default:"Paragraph" }} </p>
                    </div>
                </div>
            </div>

        <!-- Print child panels, if any -->
        {% for child_panel in accordion.get_child_panels %}
            <div class="panel panel-default" style='width: {{child_panel.width}}%;{{child_panel.style}}'>
                <a data-toggle="collapse" href="#{{ child_panel.get_uuid_as_str }}" data-parent="#accordion-{{accordion.get_uuid_as_str}}">
                    <div class="panel-heading" style="min-height: {{ child_panel.height }}px;">
                            {{ child_panel.title|safe | default:"Link collapsable" }}
                        </h4>
                    </div>
                </a>
                <div class="panel-options">
                    <a href="{% url 'accordion:accordion-delete' accordion_id=child_panel.get_uuid_as_str %}" class="red-hover delete-panel-button pull-right delete-button">
                        <div><i class="fa fa-trash-o" aria-hidden="true"></i></div>
                    </a>
                    <a href="{% url 'accordion:accordion-edit' accordion_id=child_panel.get_uuid_as_str %}" class="blue-hover edit-panel-button pull-right">
                        <div><i class="fa fa-pencil" aria-hidden="true"></i></div>
                    </a>
                </div>
                <div id="{{ child_panel.get_uuid_as_str }}" class="panel-collapse collapse" style="{{ child_panel.content_style }}">
                    <div class="panel-body">
                        <p> {{ child_panel.content|safe | default:"Paragraph" }} </p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>


