<div id="card_" class="card-box">
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-default waves-effect config">Configurar</button>
    <button type="button" class="btn btn-danger waves-effect eliminar">Eliminar</button>
  </div>
  <h1 class="header-title m-b-30">Accordion</h1>
  <div class="row">
    <div class="col-md-12 pattern-content" style="text-align: center;">
      UUUUUUUUUUUUUUYUYUYUYYYYYYYYYYYYYY
    </div>
  </div>
  <input type="hidden" name="card_position" value="">
</div>
