<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Crear NavBar</h4>
    </div>
    <div class="modal-body">
      <!-- NavBar -->
      <input id="navbar-elements" type="hidden" name="navbar-elements">
      <input id="navbar-counter" type="hidden" name="navbar-counter">
      <input id="navbar-limit" type="hidden" name="navbar-limit" value="8">
      <div class="padded-container" >
        <nav class="navbar navbar-expand navbar-light" style="background-color:#E6E6E6;" hidden>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div id="dynamicBrans">
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" id="dynamicLinks">
            </ul>
          </div>
        </nav>
      </div>

      <!-- Sus configuraciones -->
      <div class="card-body">
  	    <div class="row">
  	    	<div class="col-lg-3">
  	    	</div>
  	    	<div class="col-lg-3">
  	    		<label for="navbarType"> <i class="fa fa-minus" style="font-size:24px"></i> Tipo de barra de navegación:</label>
  	    		<br>
  	    		<br>
  	    		<label for="elementList"><span class="glyphicon glyphicon-plus"></span> Agregar elemento:</label>
  	    	</div>
  	    	<div class="col-lg-3">
  	    		<div class="styled-select blue semi-square">
  	    		<select name="navbarType" id="navbarType">
  	    			<option value="fixed">Fixed</option>
  	    			<option value="static">Static</option>
  	    		</select>
  	    		</div>
  	    		<br>
  	    		<div class="styled-select blue semi-square">
    	    		<select name="elementList" id="elementList" onchange="showAddSection()">
    	    			<option value="Navbar Brand">Navbar Brand</option>
    	    			<option value="Link">Link <span class="glyphicon glyphicon-link"></span></p></option>
    	    			<option value="Dropdown">Dropdown <i class="fa fa-list-alt"></i></option>
    	    		</select>
  	    		</div>
  	    	</div>
  	    </div>
  	    <div class="row">
  	    	<div class="col-lg-3">
  	    	</div>
  	      <div class="col-lg-6" id="addLinkSection" style="display: none">
  	    		<center><h2>Añadir un elemento <span class="glyphicon glyphicon-link"></span></h2></center>
  	    		<br>
  	    		<label for="linkName">Nombre del botón:</label>
  	    		<input type="text" name="linkName" id="linkName"/>
  	    		<br>
  	    		<br>
  	    		<label for="linkLink">Link del botón:</label>
  	    		<input type="text" name="linkLink" id="linkLink"/><br>
  	    		<br>
  	    		<label for="linkOption">Estado del botón:</label>
  	    		<div class="styled-select blue semi-square">
  	    		  <select name="linkOption" id="linkOption">
  	    			  <option value="active">Habilitado</option>
  	    			  <option value="disabled">Deshabilitado</option>
  	    		  </select>
  	    	  </div>
  	    		<br>
  	    		<br>
  	    	  <center><button class="button1" onclick="addElement('link')">Añadir link</button></center>
  	    	</div>
  	    </div>

  	    <div class="row" id="addBrandSection">
  	    	<div class="col-lg-3">
  	    	</div>
  	      <div class="col-lg-6">
  	    		<center><h2>Añadir un brand <span class="glyphicon glyphicon-tag" style="font-size:22px"></span> </h2></center>
  	    		<br>
  	    		<label for="navbarBrandName">Nombre de la página:</label>
  	    		<input type="text" name="navbarBrandName" id="navbarBrandName"/>
  	    		<br>
  	    		<br>
  	    		<label for="navbarBrandLogo">Link del logo:</label>
  	    		<input type="text" name="navbarBrandLogo" id="navbarBrandLogo"/>
  	    		<br>
  	    		<br>
  	    	  <center><button class="button1" onclick="addElement('brand')">Añadir brand</button></center>
  	      </div>
  	    </div>

  	    <div class="row" id="addDropdownSection" style="display: none">
  	    	<div class="col-lg-3">
  	    	</div>
  	      <div class="col-lg-6">
  	    		<center><h2>Añadir un Dropdown <i class="fa fa-list-alt" style="font-size:24px"></i></h2></center>
  	    		<br>
  	    		<label for="dropdownName">Nombre del menú desplegable:</label>
  	    		<input type="text" name="dropdownName" id="dropdownName"/>
  	    		<br>
  	    		<br>
  	    	  <div id="dynamicInput">
  	    			  <label for="dropdownItem1">Item:</label>
  	    			  <input type="text" name="dropdownItem1" id="dropdownItem1"/>
  	    			  <br>
  	    			  <br>
  	    			  <label for="dropdownItem1Link">Link:</label>
  	    			  <input type="text" name="dropdownItem1Link" id="dropdownItem1Link"/>
  	    			  <br>
  	    			  <br>
  	    		</div>
  	    	  <center><button class="button1" onclick="addElement('dropdown')">Añadir dropdown</button>
  	    	  <br><br>
  	    	  <input class="button1" type="button" value="Agregar otro elemento" onClick="addInput('dynamicInput');"></center>
  	      </div>
  	    </div>
      </div>
    </div>
    <div class="modal-footer">
      <button id="accept_keys" type="button" class="accept-modal btn btn-default" data-dismiss="modal">Aceptar</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>
