{% extends "base-home.html" %}

{% load static %}

{% block navbar %}
{% endblock navbar %}

{% block content %}

  <div class = "col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
  <div class = "col-lg-4 col-md-4 col-sm-4 col-xs-4">

    <div class="container-fluid" style="background: #e7e7e7;padding-bottom: 10px;margin-top: 50%;">
      <h2 style="text-align: center;"> Iniciar Sesión </h2>
      <form action="" method="post">
          {% csrf_token %}
          {% for field in form%}
            <div class="form-group">
              {{field}}
              {{field.errors}}
            </div>
          {% endfor %}

        <button type="submit" class="btn btn-primary" style="float: right;">Iniciar Sesión</button>
      </form>
      <a href="{% url 'crear_usuario' %}">Crear cuenta</a>
    </div>
  </div>
<div class = "col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>


{% endblock content %}
{% block custom_script %}

{% endblock custom_script %}