{% extends "base-home.html" %}

{% load static %}
{% block content %}

<div class="ver_template content">
  {% if not templates %}
  <div class="row">
      <div class="col-lg-12">
        <div id="welcome" class="panel panel-border panel-success">
          <div class="panel-heading">
            <h1>Templates guardados</h1>
          </div>
          <div class="panel-body">
        <!-- <div class="row block-row" -->
            <h3 class="text-row">Acá podrá elegir el template que quiera ver en acción.</h3>
          </div> 
        </div>
      </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col-lg-12">
      <h1>Templates guardados</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Template</th>
            <th>Creado por</th>
            <th>Fecha de creación</th>
            <th>Fecha de modificación</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for tem in templates %}
          <tr>
            <td>{{tem.name}} </td>
            <td>{{tem.user}} </td>
            <td>{{tem.created_at}} </td>
            <td>{{tem.last_modified}} </td>  
            <td>
              <a href="{% url 'revisar' tem.id %}" ><button type="button" class="btn btn-sm btn-sm" style="border-color: #79589f;background-color: #e3e7ed;">Ver</button></a>
              <a href="{% url 'editar' tem.id %}" ><button type="button" class="btn btn-sm btn-sm" style="border-color: #79589f;background-color: #e3e7ed;">Editar</button></a></td>          
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}



{% endblock content %}
{% block custom_script %}
  <script>
    $(document).ready(function() {
      $('#temp').attr('class','active')
    });
  </script>

{% endblock custom_script %}